
<div class="page-header">
<h2>Welcome to MarketFinder</h2>
<p>There's loads of great fresh food near you, we help you find it</p>
</div>

<script type="text/javascript">
	var eventData = <%= @eventJSON.html_safe %>
</script>

<div id="mf-map"></div>

<div id="mf-calendar>"></div>