/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap.css
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 */

.navbar {
	margin-bottom: 0px;
	position: relative;
	z-index: 10;
}

#main {
	padding: 0 10px 10px 10px;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.page-header {
	margin-bottom: 10px;
	text-align: center;
}

.page-header p {
	font-style: italic;
}