// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-box {
	padding: 5px 0;
	border-bottom: 1px solid #aaa;
}

#indiv-map {
	width: 100%;
	height: 300px;
}