// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  //tag means market finder map
#mf-map {
	width: 100%;
	height: 400px;
}

#mf-calendar {
  width: 100px;
  height: 100px;
}

#calendar h4 {
	text-align: center;
}

.calendar td {
	width: 14%;
}