// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  //tag means market finder map
#mf-map {
	width: 100%;
	height: 400px;
}

#event-lists h2 {
	text-align: center;
	border-bottom: 1px solid #eee;
}

.calendar td {
	width: 14%;
}

.calendar td a {
	
}